* { box-sizing: border-box; }

body { background: #eee; margin: 20px 0; }

article {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  margin: 0 auto;
  overflow: auto;
  padding: 1em;
}

p { margin: 0.3em 0; }

h1 { font-size: 25px; margin-top: 0; }

h5, h6 {
  font-weight: normal;
}

.bio > p > span > a{
  color: #666;
}

.bio > p > span {
  padding: 0 20px;
}

.bio > p > span:first-child{
  padding-left: 0;
}

.tt{ margin-top: 3px; }

span:not(.bio > p > span) {
  margin-right: 40px;
}

.tt > li > header{
  display: flex;
  justify-content: space-between;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: normal;
  color: #f60;
}

a {
  /* color: #999; */
  color: #953;
  text-decoration: none;
  border-bottom: 1px solid;
}

p, li { color: #666; }

strong { font-weight: normal; }

h3, h4, h5, h6 { margin: 0; }

.bio { position: relative; }

.bio img {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width:500px) {
  .bio > p:last-child > span{
    text-align: left;
    padding: 0;
  }
}

.projects p { color: #666; }
.projects strong { color: #f60; }
.projects > ol {
  margin-top: 0;
  list-style-position: inside;
  padding: 0;
}
.projects > ol > li { margin-bottom: 24px; }
.projects > ol > li > header {
  display: flex;
  justify-content: space-between;
}
.projects > ol > li h3 {
  display: inline-block;
}
.skills { }


@media print {
  #skills {
    display: none;
  }
}

.skills > .wrapper {
  display: flex;
  justify-content: space-between;
}

.skills > .wrapper > :first-child {
  margin-right: 24px;
}

.skills > .wrapper > ul { color: #666; }

.skills > .wrapper strong { color: #f60; }

.skills > .wrapper > ul > li {
  line-height: 1.2;
  margin-bottom: 8px;
}

.openSource header img {
  position: absolute;
  top: 0;
  right: 0;
}

.openSource > ul > li { margin-bottom: 24px; }

.openSource header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.skills > h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.skills > .wrapper > ul {
  list-style: disc; 
}
.skills > .wrapper {
  margin-left: 20px;
}

@media (max-width: 500px) {
 .education > p > span{
   display: block;
 } 
}


@media (max-width: 500px) {
  body {
    margin: 0;
  }

  article {
    width: auto;
    height: auto;
  }

  .skills .wrapper { flex-direction: column; }

  #skills { width: auto; }

}
